{extend name="public/base"}

{block name="notice"}
{/block}

{block name="left"}
<div class="page-header">
    <h1>博客时间轴</h1>
</div>
<table style="margin-top: 10px;" class="table table-default table-hover text-center table-bordered">
    <tr>
        <td>#</td>
        <td>内容</td>
        <td>时间</td>
    </tr>
    {volist name="axisList" id="axis" empty="$empty"}
    <tr>
        <td>{$i}</td>
        <td>{$axis.create_time|date='Y-m-d H:i'}</td>
        <td>{$axis.content}</td>
    </tr>
    {/volist}
</table>
<div style="text-align: center">
    {$axisList|raw}
</div>
{/block}

{block name="right"}
{/block}

{block name="js"}
{/block}
