<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {load href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /}
    {load href="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js" /}
    {load href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js" /}
    <title>杨庭培的个人博客{$title|default="默认标题"}</title>
    <meta name="keywords" content="杨庭培的个人博客">
    <meta name="description" content="杨庭培的个人博客">
</head>
<body style="padding-top: 70px;">