{extend name="public/base"}

{block name="notice"}
{/block}

{block name="left"}
<div class="page-header">
    <h1>心情</h1>
</div>
{volist name="moodList" id="mood" empty="$empty"}
<div class="panel panel-default">
    <div class="panel-body text-danger">
        <h4 class="text-success">博主说：</h4>
        {eq name="$mood.status" value="1"}
        {$mood.content|raw}
        {else/}
        这条心情可是我的小秘密，才不给你看呢
        {/eq}
        <p class="help-block">
            时间：{$mood.create_time|date='Y-m-d H:i'}
            &nbsp;&nbsp;&nbsp;&nbsp;
            发现地：{eq name="$mood.position" value=""}未知{else/}{$mood.position}{/eq}
        </p>
    </div>
</div>
{/volist}
<div style="text-align: center">
    {$moodList|raw}
</div>
{/block}

{block name="right"}
{/block}

{block name="js"}
{/block}
